.flex.center
  .Container
    .Delete-box
      = link_to 'Delete',post_path(@post.id), method: :delete,class: "delete-btn"
    %h2.Post-title 編集する
    = form_with model: [@post], html: {class: "Form-info"}, local: true do |f|
      .Form-info__contents
        = f.text_field :audio, class: 'Form-info__audio', placeholder: 'type a audio'
        = f.text_field :image, class: 'Form-info__image', placeholder: 'type a image'
        = f.text_field :title, class: 'Form-info__image', placeholder: 'type a title'
        = f.text_area :text, class: 'Form-info__text', placeholder: 'type a text', rows: "10"
      .Form-info__submit-box
        = f.submit 'Send', class: 'Form-info__submit-btn'

    %nav.BottomNav_BottomNav__2Vey4
      %ul.BottomNav_NavItems___s-90
        .BottomNav_NavItem__tgPfn
          =link_to "/" do
            = icon('fas', 'home', class: "icon")
            %p.BottomNav_title_active__1SVTZ ホーム
        .BottomNav_NavItem__tgPfn
          - if user_signed_in?
            =link_to destroy_user_session_path, method: :delete do
              = icon('fas', 'sign-out-alt', class: "icon")
              %p.BottomNav_title_active__1SVTZ ログアウト
          - else
            =link_to new_user_session_path do
              = icon('fas', 'sign-in-alt', class: "icon")
              %p.BottomNav_title_active__1SVTZ ログイン
